.db-home-wrapper {

}

.db-home-wrapper .org-info {

    /* height: 150px; */
    width: 100%;
    /* background-color: var(--componentBGColor); */
    
}

.db-home-wrapper .org-info > * {
    align-items: center;
}

.db-home-wrapper .org-info .org-img-wrapper-outer {

    display: flex;
    justify-content: center;
    /* background-color: red; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.db-home-wrapper .org-info .org-img-wrapper-inner {
    align-self: center;
    background-color: lime;
    height:100px;
    width: 100px;
    border-radius: 50px;
}

.db-home-wrapper .org-info .org-name-wrapper-outer {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    
}

.db-home-wrapper .org-info .org-name-wrapper-inner {

    color: white;
    font-size: 1.5rem;

}

.db-home-wrapper .org-info .org-budget-wrapper-outer {
    height: 100px;
    
}

.db-home-wrapper .org-info .org-budget-wrapper-inner {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--themeColorTwo);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    
}

.db-home-wrapper .org-info .org-budget-wrapper-inner > * {

    /* width: 100%; */
    text-align: center;
    align-content: center;
    display: flex;
    align-self: center;
    font-weight: 600;

}
.db-home-wrapper .org-info .org-budget-wrapper-inner .label-wrapper-outer {

    color: white;
    font-size: 1.25rem;
    
    /* background-color: aqua; */
    height: 30%;
    display: flex;
}

.db-home-wrapper .org-info .org-budget-wrapper-inner .label-wrapper-outer .label-wrapper-inner {

    align-self: center;
}

.db-home-wrapper .org-info .org-budget-wrapper-inner .value-wrapper-outer {

    color: green;
    font-size: 2.25rem;
    /* background-color: fuchsia; */
    height: 70%;
    display: flex;
    
    
}

.db-home-wrapper .org-info .org-budget-wrapper-inner .value-wrapper-outer .value-wrapper-inner {
    align-self: center;
}

.db-home-wrapper .overview-wrapper {

    height: 200px;
    width: 100%;
    background-color: var(--componentBGColor);

}

.db-home-wrapper .quick-look-table {
    width: 100%;
    height: 350px;
    /* background-color: aqua; */
    display: flex;
    flex-flow: column;
}

.db-home-wrapper .quick-look-table .qlt-row {
    flex: 0 0 auto;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-flow: row;
    height: 30px;
    border-bottom: solid 1px black;
    align-content: center;
    padding: 5px;
}

.db-home-wrapper .quick-look-table .qlt-row .cell {
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
}

.db-home-wrapper .quick-look-table .qlt-row .cell:first-child {
    flex: 0 0 40%;
}

.db-home-wrapper .quick-look-table .qlt-row > :first-child {
    text-align: left;
}

.db-home-wrapper .quick-look-table .content {
    flex: 1 1 100%;
    overflow: hidden;
    /* background-color: blue; */
}

.db-home-wrapper .recent-posts-wrapper-outer {

}

.db-home-wrapper .active-campaigns-wrapper-outer {


}

.db-home-wrapper .influencer-suggestions-wrapper-outer {

    padding: 10px;
    background-color: var(--themeColorTwo);
    margin-top: 10px;
    margin-bottom: 10px;

    
}

.db-home-wrapper .influencer-suggestions-wrapper-inner {
    
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
    overflow-x: auto;
    /* padding-left: 10px;
    padding-right: 100px;  */
    /* background-color: lime; */

}
