@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Montserrat', sans-serif;
  color: #86acd1;
  font-weight: bold;
}

.App {
  background-color: #192b3b;
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.primary-container {

  background-color: #192b3b;
    height: 100%;
    left: 100px;
    right: 100px;
    position: absolute;

}