.dashboardHeader-Container {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 10px;

}

.dashboardHeader-Container > div:first-child {
    flex: 0 0 70%;
}

.dashboardHeader-Container > div:not(:first-child) {

    flex: 0 0 10%;
    text-align: center;

}

